<header style="background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;">
  <h1>El Bingo Gran Buda</h1>
</header>

  <main
    style=" background: rgb(250, 122, 3);
         height: calc(100vh - 56px);
         display: flex;
         justify-content: center;
         align-items: center;">

    <button class="btn btn-primary btn-lg"
      (click)="irALobby()">
      Iniciar Juego</button>
  </main>

  <footer
    class="navbar navbar-dark text-white py-3"
    style="justify-content: center; background-color:black; position: fixed; bottom: 0; width: 100%;">
    &copy; 2024 Reto Tecnico - Ivan Dario Chavez
  </footer>
