<header style="background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;">
  <h1>El Bingo Gran Buda</h1>
</header>

  <main
    style=" background: rgb(250, 122, 3);
         height: calc(100vh - 56px);
         justify-content: center;
         align-items: center;">
    <div class="text-center">
      <div class="alert m-3">El juego comienza en: {{ contador}} segundos</div>
    </div>

    <div class="text-center">
      <button class="btn btn-primary" (click)="irASala()">Comenzar ahora</button>
    </div>
    <br/>
    <div class="container">
      <div class="table-responsive">
        <app-session-table></app-session-table>
        <!--
        <table class="table table-striped table-hover">

          <thead class="table-dark">
            <tr>
              <th class="text-center" scope="col">Jugadores en sesion</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let sesion of sesiones">
              <td>{{sesion.username}}</td>
            </tr>
          </tbody>
        </table>
      -->
      </div>
    </div>
  </main>

  <footer
    class="navbar navbar-dark text-white py-3"
    style="justify-content: center; background-color:black; position: fixed; bottom: 0; width: 100%;">
    &copy; 2024 Reto Tecnico - Ivan Dario Chavez
  </footer>
